@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow {
        -webkit-box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.74);
        -moz-box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.74);
        box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.74);
    }
}